header {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    line-height: 20px;
}

aside {
    display: inline-block;
    width: 200px;
    background-color: pink;
}

#feed {

}

#messenger {
    display: inline-block;
    width: 200px;
    background-color: yellowgreen;
}